#root {
  background-color: #235e9c;
  width: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Outfit', sans-serif;
  font-size: 3.2em;
  line-height: 1.1;
  color: #f8f9fa;
  letter-spacing: 0.01rem;
}

body,
p,
button,
div,
span {
  font-family: 'Manrope', sans-serif;
}

.input__form {
  display: flex;
  width: 60%;
  position: relative;
  align-items: center;
  justify-content: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 22px;
  border: none;
  transition: 0.2s;
  /* box-shadow: inset 0 0 5px black; */
}

.input__submit {
  position: absolute;
  width: 120px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: #371c77;
  color: white;
  transition: 0.4s all;
  /* box-shadow: 0 0 10px black; */
}

.input__submit:hover {
  background-color: #5d2ecc;
  cursor: pointer;
}

.input__submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.todo__card {
  background-color: rgb(224, 215, 79);
  border: 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.233);
  justify-content: space-between;
}

.tcbtn__cont {
  align-items: flex-end;
}

.tc__buttons {
  display: flex;
  column-gap: 10px;
  list-style: none;
  margin-bottom: 0.5rem;
  flex: 100%;
  box-sizing: border-box;
}

.tc__buttons svg:hover {
  cursor: pointer;
}

.st {
  text-decoration: line-through;
}

.delete:hover svg {
  stroke: red !important;
}

.edit:hover svg {
  stroke: rgb(8, 148, 8) !important;
}

.check:hover svg {
  stroke: #131313 !important;
}
